<ion-header>
    <div class="login-header ion-padding">
        <img class="logo-img" src="assets/images/menulogo.png">
    </div>
</ion-header>
<ion-content>
    <div class="center">
        <div heading-column-lr>
            <h1 big-heading>Login</h1>
        </div>

        <ion-item transparent>
            <ion-label>
                <ion-icon name="person-circle-outline"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="Username" placeholder="Username" type="text"></ion-input>
        </ion-item>
        <div linespace></div>
        <ion-item transparent>
            <ion-label>
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="Password" placeholder="Password" type="password"></ion-input>
        </ion-item>
        <ion-item transparent lines="none">
            <ion-label class="ion-text-right">Remember me</ion-label>
            <ion-checkbox color="warning" [(ngModel)]="isCheck" [checked]="isCheck" (ionChange)="rememberMe()" slot="end"></ion-checkbox>
        </ion-item>
        <div linespace></div>
        <ion-button color="primary" class="ion-button-class"  fill="solid" expand="block"
                    (click)="Signin()">Login
        </ion-button>



    </div>
</ion-content>