.login-header{
  position: relative;
  background: var(--theme-color);
  border-radius: 0em;
}
.login-header:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--theme-color);
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}
.logo-img{
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

ion-input{
  font-size: 13px;
  line-height: 25px;
}

ion-card{
  box-shadow: none;
}
ion-list{
  margin: 0;
  padding: 0;
}
